pip install selenium
pip install powerbiclient #-> install the power BI

In [1]:
from selenium import webdriver

from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import time

In [2]:
#operating power BI from Jupyter notebooks. 
from powerbiclient import Report, models

In [3]:
driver = webdriver.Chrome()
driver.get('https://ath04.prd.mykronos.com/authn/XUI/?realm=/cevalogistics_prd_01#login&goto=https%3A%2F%2Fcevalogistics.prd.mykronos.com%3A443%2Fwfd%2Fhome')
driver.maximize_window()
#put username in
#(driver, 10) means: Selenium will wait for a maximum of 10 seconds for an element matching the given criteria to be found

username = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "idToken1"))).send_keys('********')
password = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "idToken2"))).send_keys('********')

#click "login"
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "loginButton_0"))).click()

time.sleep(6)

#click the 3 lines menu on the left 
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "navmenu-open-btn"))).click()

#click the dataviews&reports
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "585_category"))).click()

#click the data library
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "575_text"))).click()

#click the paycode summary TK
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "krn-slat-29"))).click()

#This part is all good! Do not delete anything.

In [4]:
#click the timeframe drop down list
time.sleep(10) ##The ptyhon runing to fast and need to get some time off. 

WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "ia.timeframe.selector_clock"))).click()

WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "ia.timeframe.selector_select_range"))).click()

#This part is all good! Do not delete anything. datae HAS to go liek as this

In [5]:
#Pick the damn date!

weekstart = input("What the day you like to start?")
weekend = input("What the day you like to end?")

What the day you like to start?02192023
What the day you like to end?02252023

In [6]:
start_date_field = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "startDateTimeInput")))
start_date_field.send_keys(weekstart)

end_date_field = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "endDateTimeInput")))
end_date_field.send_keys(weekend)

time.sleep(5)
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "tfsApplyButton"))).click()

#This part is all good! Do not delete anything. datae HAS to go liek as this

In [7]:
#pick the all business units
time.sleep(2) #------> Need let the website to load, otherwise, it will crush.

WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "hyperfindIcon"))).click()
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "selectLocations"))).click()

time.sleep(5) #------> Need let the website to load, otherwise, it will crush.
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "orgmap-select-all-link"))).click()

time.sleep(2)
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "mapSelectDone"))).click()

#This part is all good! Do not delete anything.

In [8]:
time.sleep(8)
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "com.kronos.dataview.share"))).click()
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, "com.kronos.dataview.share.export"))).click()
#This part works, Do not delete anything!

In [9]:
time.sleep(8) ##-> python too fast, need to slow down and let the file download. 

import pandas as pd
import numpy as np
import csv

timesheet = pd.read_csv('C:/Users/liuchen/Downloads/US Paycode summary TK.CSV', skiprows = 8)

In [10]:
timesheet.head()

,Employee Full Name,Employee ID,Legal Entity,Business Unit,Product,Location,Actual Total Hours (Include Corrections),Actual Total Apply Date,Paycode Name
0,"Gammon, Jamison P",93014481,CEVA Logistics US,16800626,CC0101,NCR-BW5 33 Athletes Way,8.0,2/23/2023,US Salaried
1,"Gammon, Jamison P",93014481,CEVA Logistics US,16800626,CC0101,NCR-BW5 33 Athletes Way,8.0,2/22/2023,US Salaried
2,"Gammon, Jamison P",93014481,CEVA Logistics US,16800626,CC0101,NCR-BW5 33 Athletes Way,8.0,2/21/2023,US Salaried
3,"Gammon, Jamison P",93014481,CEVA Logistics US,16800626,CC0101,NCR-BW5 33 Athletes Way,8.0,2/24/2023,US Salaried
4,"Gammon, Jamison P",93014481,CEVA Logistics US,16800626,CC0101,NCR-BW5 33 Athletes Way,8.0,2/20/2023,US Salaried

In [11]:
timesheet.dtypes

Employee Full Name                           object
Employee ID                                  object
Legal Entity                                 object
Business Unit                                 int64
Product                                      object
Location                                     object
Actual Total Hours (Include Corrections)    float64
Actual Total Apply Date                      object
Paycode Name                                 object
dtype: object

In [12]:
timesheet['Employee ID'].nunique()

393

In [13]:
timesheet['Employee ID'].unique()
#maybe I don't need this

array(['93014481', '93003252', 'WPSWK00002679', '16319956', '93016406',
       '93016866', 'WPSWK00002667', '93013334', '93002198', '93012788',
       'STAWK00005602', '93015913', '93017595', 'WPSWK00005750',
       '93002430', '93015879', '93012654', 'WPSWK00002703', '93011818',
       '93014866', 'STAWK00004031', 'RANWK00004539', '93017437',
       'STAWK00004023', '93015264', '93011907', '93017562',
       'WPSWK00005085', '20009036', 'RANWK00007311', '93016761',
       '93014634', '93015386', '93013025', 'STAWK00004025',
       'WPSWK00002691', '93016901', '93012244', '16321298', '93004879',
       '50335132', '93003646', 'WPSWK00002675', '93013759',
       'RANWK00005122', '93010043', 'WPSWK00002671', '93010960',
       '93017227', '16320973', '93004322', '93017439', '93007045',
       '93011142', '93014024', 'RANWK00002317', 'STAWK00004038',
       '93014489', 'WPSWK00004986', 'RANWK00002124', '93015838',
       'WPSWK00002672', '93012220', '93007000', '93014604', '93014246',
       '93015172', 'STAWK00005674', '93006955', '93007842', '50335130',
       '93017095', '93014785', 'RANWK00001967', 'ELWWK00006314',
       '93006783', '93006312', 'RANWK00004513', 'WPSWK00002669',
       'RANWK00006452', '93014140', 'STAWK00004028', '93015534',
       'WPSWK00002677', '93016835', 'WPSWK00004725', 'WPSWK00002706',
       '93005175', '93015978', '93005665', '93012221', 'STAWK00004015',
       'STAWK00004063', 'WPSWK00002670', '93009651', '93007717',
       'WPSWK00007138', '16317862', '93013827', 'WPSWK00002690',
       '93017293', 'STAWK00005130', '93014702', '93007057', '93016762',
       '93003920', '93017482', '20000968', '93010198', '93017090',
       '93006452', 'WPSWK00002685', '93017593', 'ELWWK00002854',
       '50335382', '93015699', '93006364', '93015612', 'WPSWK00002687',
       '93004924', '93014264', '93005635', 'RANWK00002319',
       'WPSWK00002697', '93005199', '93010329', '93010263',
       'WPSWK00002686', 'ELWWK00004650', '93007397', '93004647',
       'RANWK00002271', '93003939', 'STAWK00004017', 'WPSWK00002694',
       '93010063', '93017274', '93016005', '93008229', '93016001',
       '93006335', 'STAWK00004030', 'RANWK00006451', '93013350',
       '93014861', '93014134', '93015173', '50335314', 'RANWK00006455',
       '93014236', '93015678', '93016158', '93016824', 'STAWK00004021',
       '93014536', '93014416', '93010464', 'WPSWK00002676', '20008036',
       '50335153', '93007606', '50335087', 'RANWK00002385', '16317379',
       'ELWWK00002440', 'WPSWK00004500', '20006488', '50334000',
       'RANWK00002303', '93007985', 'WPSWK00002693', '93015247',
       '93006348', '93007047', '93016818', '93012521', '93017440',
       '93003930', '93015126', '93015940', 'WPSWK00002688', '93013095',
       'RANWK00001982', 'WPSWK00002674', '93014864', 'RANWK00005761',
       '93015987', '50335076', 'ELWWK00002929', 'WPSWK00002692',
       '50335134', '93016454', '93014939', 'WPSWK00002680',
       'ELWWK00002505', '93015614', '93005564', '93015387',
       'STAWK00004022', 'STAWK00005693', '93015254', 'WPSWK00002678',
       '93014309', 'WPSWK00005086', 'RANWK00006858', '93015424',
       'RANWK00006453', '93015357', 'ELWWK00004655', '93011843',
       '93006307', 'ELWWK00005675', 'RANWK00004543', '93014614',
       '20003871', 'ELWWK00002872', '93017594', '93008180', '93012595',
       '93016010', '93017110', '93012790', 'WPSWK00004499',
       'RANWK00005055', 'RANWK00002228', '93005447', 'WPSWK00003962',
       '93017553', 'RANWK00004544', '20009331', 'ELWWK00002839',
       '93016850', '93016933', '93017474', '93015749', 'WPSWK00002698',
       '50335080', '93011841', 'ELWWK00004658', '93017225', '93004826',
       'RANWK00005485', '93003830', '93013478', 'ELWWK00002901',
       '93017561', '93006781', '93016345', '93012820', '93002366',
       '93008183', '93003781', '93013357', '20006597', '93013347',
       '93012866', 'WPSWK00002696', '93014824', 'WPSWK00005076',
       '50335129', '93017444', 'WPSWK00002684', 'RANWK00002267',
       '93007388', '93014926', '93006790', '93004397', '50334629',
       '93014282', 'STAWK00004060', 'WPSWK00003963', 'STAWK00004046',
       '50335131', 'ELWWK00005251', 'WPSWK00002720', '93011817',
       '93014862', 'RANWK00002122', 'WPSWK00002695', 'WPSWK00002701',
       '93015253', 'STAWK00004048', '93016467', '93015408', '93015989',
       'RANWK00006209', '93007851', '20004715', '93007596',
       'STAWK00004057', '93016779', '93010614', '93016628', '93016879',
       '93013815', '93015525', 'WPSWK00002711', '93012653', '93015979',
       '93014468', '93016816', 'WPSWK00002699', '93017563', '93016767',
       '93016218', 'STAWK00004045', '93006511', '15796048',
       'WPSWK00002673', '93016825', '50334631', '93004923', '50335801',
       'ELWWK00004656', 'RANWK00004865', '93004177', 'RANWK00007009',
       '93017441', '93013942', 'WPSWK00002668', '93013495', '93003276',
       '93016836', 'WPSWK00003875', '93014627', '93008239', '93017564',
       '93010657', 'STAWK00004049', 'RANWK00004768', '93016889',
       '93012525', 'WPSWK00002682', '93011192', '93000473', '16318275',
       '93015615', '93011921', '93007592', '93002354', 'WPSWK00002683',
       'STAWK00005181', '20003459', '93016801', '16319981', '93007238',
       '50333989', 'ELWWK00002893', '93015354', 'RANWK00001983',
       '93012528', '93015698', '93014131', '93004983', 'WPSWK00002689',
       '93006824', '93009243', '16318005', '93013941', '93017224',
       '50334013', '93011664', 'WPSWK00003961', '93015745', '93008277',
       '16317619', '93016763', '93015611', 'WPSWK00002700', '93005946',
       '93014781', 'RANWK00004521', '93006504', '93005160', '93015977',
       'ELWWK00002999', '16317707', '93006847', '93013479', '93016475',
       'ELWWK00003013', 'STAWK00004042', '93005099', '93015132',
       'WPSWK00002681', 'RANWK00006454', 'WPSWK00002726', '93003504',
       'ELWWK00002955', 'RANWK00002031', '93005046', 'RANWK00002360',
       '20006222'], dtype=object)

In [14]:
timesheet['Business Unit'].unique()

array([16800626, 16800737, 16800698, 16800723, 16800681, 16800699,
       16800718], dtype=int64)

In [15]:
timesheet['Employee Full Name'] = timesheet['Employee Full Name'].str.replace(r'\s+[A-Z]$', '', regex=True)
timesheet[['Last_Name', 'Name']] = timesheet['Employee Full Name'].str.split(', ', 2, expand=True)
timesheet['Employee Full Name'] = timesheet['Name']+" "+timesheet['Last_Name'].str.title()

#Name porivd is done!!! Do not change any!!

In [16]:
timesheet['Employee Full Name']

0        Jamison Gammon
1        Jamison Gammon
2        Jamison Gammon
3        Jamison Gammon
4        Jamison Gammon
             ...
1772    Ginger Thompson
1773    Ginger Thompson
1774    Ginger Thompson
1775    Ginger Thompson
1776    Ginger Thompson
Name: Employee Full Name, Length: 1777, dtype: object

In [17]:
def fix_columns(df):
    for idx in range(len(df['Business Unit'])):
        #i = [] -> this one doesn't work becasue i is not list, it will change the unit names 
        #but shows error too: Index(...) must be called with a collection of some kind, None was passed
        # you will need to give the "idex" as list name
        if df['Business Unit'][idx] == 16800626:
            df['Business Unit'][idx] = 'NCR'
        elif df['Business Unit'][idx] == 16800681:
            df['Business Unit'][idx] = 'Ramsey'
        elif df['Business Unit'][idx] == 16800698:
            df['Business Unit'][idx] = 'Pentland'   
        elif df['Business Unit'][idx] == 16800699:
            df['Business Unit'][idx] = 'GP'     
        elif df['Business Unit'][idx] == 16800718:
            df['Business Unit'][idx] = 'Cabinet Health'
        elif df['Business Unit'][idx] == 16800720:
            df['Business Unit'][idx] = 'Sidewalk Labs'
        elif df['Business Unit'][idx] == 16800723:
            df['Business Unit'][idx] = 'Cybex'
        elif df['Business Unit'][idx] == 16800737:
            df['Business Unit'][idx] = 'Gathr'
        elif df['Business Unit'][idx] == 168780:
            df.drop(idx, inplace=True)
    return df

In [18]:
fixed_timesheet = fix_columns(timesheet)
timesheet['Business Unit'].unique()

C:\Users\liuchen\AppData\Local\Temp\ipykernel_8456\1131336080.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Business Unit'][idx] = 'NCR'

array(['NCR', 'Gathr', 'Pentland', 'Cybex', 'Ramsey', 'GP',
       'Cabinet Health'], dtype=object)

In [19]:
timesheet = timesheet.drop(columns = ['Legal Entity','Product','Location','Last_Name','Name'])
timesheet['Paycode Name'].unique()

array(['US Salaried', 'US Regular', 'US Total Overtime',
       'US Overtime 1.5', nan, 'US On Call Amount', 'US PTO',
       'US Personal Unpaid', 'US Unplanned Absence',
       'US Floating Holiday', 'US Bereavement'], dtype=object)

In [20]:
paycode_to_delete = input("What paycode do you want to delete? (Enter 'done' to exit)")
## -> this is the loop for delete no needed paycodes

while paycode_to_delete.lower() not in ['done']:
    rows_to_delete = timesheet[timesheet['Paycode Name'].str.lower() == paycode_to_delete.lower()].index
    timesheet.drop(rows_to_delete, inplace=True)
    paycode_to_delete = input("What paycode do you want to delete? (Enter 'done' to exit)")

## this is all good, don't do anything

What paycode do you want to delete? (Enter 'no' or 'done' to exit)US Total Overtime
What paycode do you want to delete? (Enter 'no' or 'done' to exit)US On Call Amount
What paycode do you want to delete? (Enter 'no' or 'done' to exit)US Unplanned Absence
What paycode do you want to delete? (Enter 'no' or 'done' to exit)US Personal Unpaid
What paycode do you want to delete? (Enter 'no' or 'done' to exit)done
What paycode do you want to delete? (Enter 'no' or 'done' to exit)done
What paycode do you want to delete? (Enter 'no' or 'done' to exit)no

In [21]:
timesheet.head(20)

,Employee Full Name,Employee ID,Business Unit,Actual Total Hours (Include Corrections),Actual Total Apply Date,Paycode Name
0,Jamison Gammon,93014481,NCR,8.00,2/23/2023,US Salaried
1,Jamison Gammon,93014481,NCR,8.00,2/22/2023,US Salaried
2,Jamison Gammon,93014481,NCR,8.00,2/21/2023,US Salaried
3,Jamison Gammon,93014481,NCR,8.00,2/24/2023,US Salaried
4,Jamison Gammon,93014481,NCR,8.00,2/20/2023,US Salaried
5,Tina Cox,93003252,NCR,8.13,2/23/2023,US Regular
6,Tina Cox,93003252,NCR,8.15,2/22/2023,US Regular
7,Tina Cox,93003252,NCR,8.22,2/21/2023,US Regular
9,Tina Cox,93003252,NCR,0.77,2/24/2023,US Overtime 1.5
10,Tina Cox,93003252,NCR,7.32,2/24/2023,US Regular
11,Tina Cox,93003252,NCR,8.18,2/20/2023,US Regular
12,Charles Kistner,WPSWK00002679,NCR,NaN,NaN,NaN
14,Bernice Dobson,16319956,NCR,2.32,2/23/2023,US Overtime 1.5
15,Bernice Dobson,16319956,NCR,7.80,2/23/2023,US Regular
16,Bernice Dobson,16319956,NCR,11.05,2/22/2023,US Regular
17,Bernice Dobson,16319956,NCR,11.08,2/21/2023,US Regular
19,Bernice Dobson,16319956,NCR,7.70,2/24/2023,US Overtime 1.5
20,Bernice Dobson,16319956,NCR,10.07,2/20/2023,US Regular
21,Joseph Adams,93016406,NCR,8.00,2/23/2023,US Salaried
22,Joseph Adams,93016406,NCR,8.00,2/22/2023,US Salaried

In [22]:
timesheet.to_csv(r'Z:/Analytics/Testing/xotimesheetox.csv')